<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Member Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>   
        <div class="background-image">
            <div class="login-content-box"> 
                <form action="/member_login_attempt" method="post">             
                    <div class="container">
                        <div class="login-page-header">
                            <h1>LB Library</h1>
                            <h2>Member Login</h2>
                        </div>

                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                    
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                
                        <button type="submit">Login</button>

                        <p style="color:red;" th:text="${error}"></p>
                    </div>
                
                    <div class="container" style="background-color:#f1f1f1">
                        <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
                        <span class="psw"><a href="https://www.youtube.com/watch?v=j6YzSltwfBE" target="_blank">Forgot password?</a></span>
                    </div>
                </form>
            </div> 
        </div>
        
        <script src="" async defer></script>
    </body>
</html>